<?xml version='1.0' encoding='utf-8'?>
<robot name="abb_irb2400">
  
  
  <link name="base_link">
    <inertial><origin xyz="-0.10056675 0.00041479378 0.089836632" rpy="0 0 0" /><mass value="82.100681" /><inertia ixx="1.8009364" iyy="3.1283187" izz="4.4721725" ixy="0.011222343" ixz="0.015991781" iyz="-0.00079843534" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/base_link.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.011434277 0.025011362 0.47057642" rpy="0 0 0" /><mass value="178.6061" /><inertia ixx="9.5797914" iyy="6.2884512" izz="8.0512342" ixy="0.34303487" ixz="-0.89021163" iyz="0.13257633" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_1.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.01992557 -0.014034766 0.28571766" rpy="0 0 0" /><mass value="63.382838" /><inertia ixx="3.17448" iyy="3.538025" izz="0.73901944" ixy="-0.049171795" ixz="0.10812345" iyz="-0.045442652" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_2.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_2_whole.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="-0.004401708 -0.015011914 0.098604946" rpy="0 0 0" /><mass value="38.949117" /><inertia ixx="0.40113906" iyy="0.82426102" izz="0.82898093" ixy="-0.010672323" ixz="-0.034576438" iyz="0.017409977" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_3.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.27644467 9.7554573e-05 3.219734e-05" rpy="0 0 0" /><mass value="16.005894" /><inertia ixx="0.055012397" iyy="0.425056" izz="0.43008488" ixy="-0.00046729158" ixz="-2.0928744e-05" iyz="-2.0389522e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_4.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="3.6094112e-09 -1.4596901e-11 -1.2767625e-08" rpy="0 0 0" /><mass value="0.64915373" /><inertia ixx="0.00068454936" iyy="0.0011782474" izz="0.00068454925" ixy="5.5289795e-13" ixz="-5.4463991e-11" iyz="6.4846935e-13" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_5.dae" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.047338885 8.260147e-07 1.2601738e-09" rpy="0 0 0" /><mass value="0.30622049" /><inertia ixx="0.00010364468" iyy="0.0004059654" izz="0.00040597253" ixy="-3.2695363e-09" ixz="-2.865735e-11" iyz="-2.9711393e-13" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/visual/link_6.dae" />
      </geometry>
      <material name="">
        <color rgba="0.1882353 0.1960784 0.2039216 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2400_support/meshes/irb2400/collision/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.1416" upper="3.1416" velocity="2.618" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.1 0 0.615" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.7453" upper="1.9199" velocity="2.618" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.705" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.0472" upper="1.1345" velocity="2.618" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0.258 0 0.135" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-3.49" upper="3.49" velocity="6.2832" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.497 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-2.0944" upper="2.0944" velocity="6.2832" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.085 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-6.9813" upper="6.9813" velocity="7.854" />
  </joint>
  <joint name="joint_6-tool0" type="fixed">
    <parent link="link_6" />
    <child link="tool0" />
    <origin rpy="0 1.57079632679 0" xyz="0 0 0" />
  </joint>
  
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
</robot>