<?xml version='1.0' encoding='utf-8'?>
<robot name="abb_irb2600_12_165">
  
  
  <link name="base_link">
    <inertial><origin xyz="-0.093030689 0.00044740665 0.10002571" rpy="0 0 0" /><mass value="78.759428" /><inertia ixx="1.238129" iyy="2.2611465" izz="2.9345441" ixy="0.0072945786" ixz="0.066954965" iyz="4.9580204e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.04213767 0.027230863 -0.056474776" rpy="0 0 0" /><mass value="91.514858" /><inertia ixx="1.9625345" iyy="2.3590215" izz="2.1100603" ixy="-0.10309363" ixz="-0.057268078" iyz="-0.057483103" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="0.0011136484 -0.16988821 0.31603905" rpy="0 0 0" /><mass value="27.522692" /><inertia ixx="1.310443" iyy="1.3384143" izz="0.095143995" ixy="-1.3946571e-05" ixz="-0.00030864613" iyz="0.0105811" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.056390622 0.012036722 0.069691655" rpy="0 0 0" /><mass value="53.43253" /><inertia ixx="0.72638851" iyy="0.9666928" izz="0.90005588" ixy="0.018551316" ixz="-0.026391785" iyz="0.010296789" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.5751332 0.0007517921 -1.9424159e-05" rpy="0 0 0" /><mass value="19.906071" /><inertia ixx="0.065705006" iyy="0.54539393" izz="0.55244905" ixy="-0.0022739826" ixz="0.00014602709" iyz="0.00010448905" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="1.6996935e-05 -2.0473259e-07 -1.3862929e-05" rpy="0 0 0" /><mass value="0.7304949" /><inertia ixx="0.00070173659" iyy="0.0011988548" izz="0.00070169367" ixy="7.7741959e-09" ixz="5.5016866e-07" iyz="-8.3728079e-09" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.013840726 6.2729755e-07 2.5255881e-06" rpy="0 0 0" /><mass value="0.1339252" /><inertia ixx="5.3854765e-05" iyy="3.7927714e-05" izz="3.7931559e-05" ixy="-4.7066316e-10" ixz="-5.4289456e-11" iyz="2.7281313e-10" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.445" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.14159" upper="3.14159" velocity="3.054" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.15 0 0.0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-2.705" upper="1.658" velocity="3.054" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.7" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-2.705" upper="1.309" velocity="3.054" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.115" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-6.981" upper="6.981" velocity="6.283" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.795 0 0 " />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-2.094" upper="2.094" velocity="6.283" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.085 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-6.981" upper="6.981" velocity="8.727" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>