<?xml version='1.0' encoding='utf-8'?>
<robot name="abb_irb6650s_90_390">
  
  
  <link name="base_link">
    <inertial><origin xyz="-0.19461058 0.027276485 0.12938577" rpy="0 0 0" /><mass value="352.52172" /><inertia ixx="18.382003" iyy="30.0057" izz="43.978704" ixy="-1.1612949" ixz="0.9377416" iyz="-1.1068237" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.062572658 -0.070057509 -0.012915565" rpy="0 0 0" /><mass value="1054.2503" /><inertia ixx="76.252908" iyy="199.46136" izz="214.87509" ixy="-24.148159" ixz="11.690603" iyz="5.344576" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="0.00053299827 -0.23086339 0.57032605" rpy="0 0 0" /><mass value="298.79307" /><inertia ixx="48.469575" iyy="48.838035" izz="6.8460541" ixy="-0.382011" ixz="0.55879852" iyz="6.5403527" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="-0.033345179 0.0045317818 0.12313511" rpy="0 0 0" /><mass value="185.58356" /><inertia ixx="7.100201" iyy="6.2781808" izz="7.4522671" ixy="0.68374175" ixz="0.55314516" iyz="-1.2071482" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="1.3153975 -0.0083697652 9.0197777e-05" rpy="0 0 0" /><mass value="217.51717" /><inertia ixx="2.399615" iyy="62.193595" izz="62.769315" ixy="0.50226944" ixz="-0.0018201211" iyz="0.0021518968" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s_90_390/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s_90_390/collision/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.028323497 0.0035928209 1.1862972e-07" rpy="0 0 0" /><mass value="14.394032" /><inertia ixx="0.066741299" iyy="0.11558976" izz="0.12131209" ixy="0.0024379239" ixz="8.8725893e-07" iyz="-3.1728684e-08" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.7372549 0.3490196 0.1607843 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 0 1" />
      </material>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.017377065 4.502646e-11 4.6719781e-08" rpy="0 0 0" /><mass value="1.9402015" /><inertia ixx="0.0090641769" iyy="0.0047386718" izz="0.0047386734" ixy="-8.1785372e-13" ixz="1.063477e-09" iyz="7.7868265e-18" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.1882353 0.1960784 0.2039216 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6650s_support/meshes/irb6650s/collision/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.1882353 0.1960784 0.2039216 1" />
      </material>
    </collision>
  </link>
  
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.630" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="1.7453292519943295" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.600 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-0.6981317007977318" upper="2.792526803190927" velocity="1.5707963267948966" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 1.280" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-3.141592653589793" upper="1.2217304763960306" velocity="1.5707963267948966" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.200" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-5.235987755982989" upper="5.235987755982989" velocity="2.6179938779914944" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="2.042 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-2.0943951023931953" upper="2.0943951023931953" velocity="2.0943951023931953" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.200 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="4.101523742186674" />
  </joint>
  
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>