<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_lrmate200ic5l">
  
  <link name="base_link">
    <inertial><origin xyz="-0.024004803 4.9863622e-05 0.072736091" rpy="0 0 0" /><mass value="5.1720421" /><inertia ixx="0.0236153" iyy="0.032233275" izz="0.035998965" ixy="-3.551264e-07" ixz="-0.00050823476" iyz="4.0241461e-06" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.23921568627450981 0.23921568627450981 0.23921568627450981 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.037455298 0.0016309736 -0.062389541" rpy="0 0 0" /><mass value="6.7844273" /><inertia ixx="0.056489718" iyy="0.044375024" izz="0.04859538" ixy="6.6500694e-05" ixz="-0.010315969" iyz="4.3530411e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="4.8959466e-05 0.0077657972 0.19723326" rpy="0 0 0" /><mass value="9.1193536" /><inertia ixx="0.20306307" iyy="0.18223003" izz="0.040057753" ixy="6.3742653e-06" ixz="4.9338959e-06" iyz="-0.0010162756" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic5l/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic5l/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.0024971891 0.0016121736 0.037654051" rpy="0 0 0" /><mass value="2.3684801" /><inertia ixx="0.0076379378" iyy="0.0090520603" izz="0.0076842217" ixy="-7.0390497e-05" ixz="-0.001419547" iyz="-1.3974991e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.25187246 0.0039118957 0.0013470914" rpy="0 0 0" /><mass value="3.1268798" /><inertia ixx="0.0053785583" iyy="0.035460612" izz="0.035870262" ixy="-3.985081e-05" ixz="-1.9638494e-05" iyz="1.6871994e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic5l/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic5l/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.017384328 0.0014812255 1.4101721e-06" rpy="0 0 0" /><mass value="0.41647891" /><inertia ixx="0.00031242707" iyy="0.00057479252" izz="0.00052183525" ixy="1.2024854e-05" ixz="-1.0104504e-08" iyz="4.4999912e-09" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.0040061115 -6.6309314e-06 1.5643051e-07" rpy="0 0 0" /><mass value="0.012338206" /><inertia ixx="2.4618839e-06" iyy="1.3787105e-06" izz="1.378672e-06" ixy="-2.3363008e-16" ixz="-5.7535003e-12" iyz="-4.9553364e-16" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ic_support/meshes/lrmate200ic/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.9671" upper="2.9671" velocity="4.7124" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.075 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.5708" upper="2.4435" velocity="4.7124" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.400" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.5831" upper="4.0143" velocity="4.7124" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.075" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161" upper="3.3161" velocity="7.8540" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.410 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.0944" upper="2.0944" velocity="7.8540" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.080 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.2832" upper="6.2832" velocity="12.5664" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>