<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_m710ic45m">
  
  <link name="base_link">
    <inertial><origin xyz="-0.049407667 -0.00021743737 0.11921732" rpy="0 0 0" /><mass value="124.32428" /><inertia ixx="3.3054109" iyy="3.3770528" izz="5.3778294" ixy="0.0090111676" ixz="0.051008171" iyz="-0.0042198408" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.05139468 -0.0070627097 -0.10507684" rpy="0 0 0" /><mass value="192.40357" /><inertia ixx="7.1794337" iyy="6.1198621" izz="7.6822844" ixy="-0.31778414" ixz="-0.48127218" iyz="0.21100673" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="0.0025489016 0.15535279 0.46164331" rpy="0 0 0" /><mass value="108.78324" /><inertia ixx="14.967279" iyy="15.300593" izz="0.90212256" ixy="0.025035168" ixz="0.016926557" iyz="-0.48387377" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic45m/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic45m/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.02233065 -0.031485842 0.086288644" rpy="0 0 0" /><mass value="90.38086" /><inertia ixx="1.7406426" iyy="2.2576765" izz="2.0412591" ixy="-0.17253525" ixz="-0.24499641" iyz="-0.093978398" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.80598173 -0.020804462 0.00040592352" rpy="0 0 0" /><mass value="44.714932" /><inertia ixx="0.16565293" iyy="4.4482592" izz="4.4624812" ixy="0.18115811" ixz="-0.0016733698" iyz="-0.00057564036" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic45m/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic45m/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.038457475 0.0039676021 -9.2955283e-09" rpy="0 0 0" /><mass value="8.9318107" /><inertia ixx="0.033031592" iyy="0.047376643" izz="0.050270838" ixy="-0.0025360292" ixz="-2.9682078e-09" iyz="1.3371134e-09" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.012222835 1.5704532e-05 1.3339255e-12" rpy="0 0 0" /><mass value="0.461318" /><inertia ixx="0.00089026032" iyy="0.00046131299" izz="0.00046120182" ixy="2.1542164e-08" ixz="-6.2757473e-15" iyz="-6.5087134e-14" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m710ic_support/meshes/m710ic50/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.565" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.5707963267948966" upper="2.356194490192345" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 1.150" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.792526803190927" upper="4.886921905584122" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.170" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.981317007977318" upper="6.981317007977318" velocity="4.363323129985824" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="1.295 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.181661564992912" upper="2.181661564992912" velocity="4.363323129985824" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.175 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.981317007977318" upper="6.981317007977318" velocity="6.283185307179586" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.565" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>