<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_r2000ic165f">
  
  <link name="base_link">
    <inertial><origin xyz="-0.045363 0.00044306194 0.13925441" rpy="0 0 0" /><mass value="201.41429" /><inertia ixx="6.6828122" iyy="9.8122992" izz="13.462789" ixy="0.0080988421" ixz="0.099573794" iyz="0.0074301154" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.062102806 0.051309156 -0.12287256" rpy="0 0 0" /><mass value="380.73292" /><inertia ixx="19.227724" iyy="25.459456" izz="27.779156" ixy="2.825532" ixz="-1.7243146" iyz="-0.047017405" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="0.009025897 0.22729927 0.44918456" rpy="0 0 0" /><mass value="204.94211" /><inertia ixx="25.133844" iyy="26.619796" izz="4.0007067" ixy="0.17032343" ixz="-0.32241386" iyz="-2.2069242" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.30277027 0.025990407 0.12601143" rpy="0 0 0" /><mass value="258.66843" /><inertia ixx="7.2037765" iyy="26.573215" izz="25.275172" ixy="1.1019862" ixz="-3.2275323" iyz="0.58039072" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="1.1603331 -0.0090937813 1.3259377e-08" rpy="0 0 0" /><mass value="15.687124" /><inertia ixx="0.072531687" iyy="0.19219697" izz="0.18166425" ixy="0.010385602" ixz="9.8253035e-09" iyz="7.420183e-10" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.054813419 -0.022561439 5.9321652e-09" rpy="0 0 0" /><mass value="27.5507" /><inertia ixx="0.25361586" iyy="0.29651991" izz="0.36326915" ixy="-0.036445297" ixz="2.9392804e-08" iyz="3.1333926e-10" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="0.004993908 5.8494976e-08 -5.653143e-10" rpy="0 0 0" /><mass value="1.0044255" /><inertia ixx="0.0032028721" iyy="0.0016767094" izz="0.0016767102" ixy="-5.101217e-09" ixz="-2.5578125e-10" iyz="-3.0847892e-12" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic165f/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.670" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.2288591161895095" upper="3.2288591161895095" velocity="2.2689280275926285" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.312 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.0471975511965976" upper="1.3264502315156905" velocity="2.007128639793479" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 1.075" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.303834612632515" upper="3.141592653589793" velocity="2.181661564992912" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.225" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="1.280 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.181661564992912" upper="2.181661564992912" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.215 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="4.537856055185257" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.670" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="tool0" />
  </joint>
</robot>