<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_r2000ic270f">
  
  <link name="base_link">
    <inertial><origin xyz="-0.085442247 -0.0025613524 0.14522208" rpy="0 0 0" /><mass value="227.18426" /><inertia ixx="7.9418282" iyy="12.430386" izz="16.623479" ixy="0.049076597" ixz="0.085323674" iyz="0.028662964" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.062947928 0.054812105 -0.12441218" rpy="0 0 0" /><mass value="415.60369" /><inertia ixx="23.159794" iyy="27.101699" izz="32.708069" ixy="2.8961276" ixz="-2.3324709" iyz="-0.55146509" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="0.0038846007 0.075005557 0.48856132" rpy="0 0 0" /><mass value="312.78805" /><inertia ixx="47.387052" iyy="48.337111" izz="7.3856171" ixy="-0.0725626" ixz="-1.3731631" iyz="-3.0726259" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.24179003 0.060132386 0.1541897" rpy="0 0 0" /><mass value="368.76193" /><inertia ixx="12.745274" iyy="41.81598" izz="42.778855" ixy="0.41711287" ixz="-2.5534684" iyz="-0.12152935" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="1.1626921 -0.0097493344 9.5509006e-05" rpy="0 0 0" /><mass value="15.895334" /><inertia ixx="0.076561191" iyy="0.18245834" izz="0.17780281" ixy="0.011133199" ixz="0.00019409306" iyz="-0.00012513688" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.052987655 -0.023571226 -7.3128261e-06" rpy="0 0 0" /><mass value="27.822176" /><inertia ixx="0.26319604" iyy="0.28561075" izz="0.37219504" ixy="-0.039749017" ixz="-4.5753162e-05" iyz="-4.1559327e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.019160917 4.3023274e-05 -0.00015031355" rpy="0 0 0" /><mass value="1.9445567" /><inertia ixx="0.0088096698" iyy="0.0046587074" izz="0.0046561002" ixy="1.2552647e-06" ixz="3.1521981e-07" iyz="1.2139502e-06" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_r2000ic_support/meshes/r2000ic270f/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.67" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.2288591161895095" upper="3.2288591161895095" velocity="1.8325957145940461" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.312 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.0471975511965976" upper="1.3264502315156905" velocity="1.5707963267948966" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 1.075" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.303834612632515" upper="3.141592653589793" velocity="1.4835298641951802" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.225" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="2.0943951023931953" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="1.280 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.181661564992912" upper="2.181661564992912" velocity="2.0943951023931953" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.24 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.490658503988659" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.670" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="tool0" />
  </joint>
</robot>