<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_lrmate200ib3l">
  
  <link name="base_link">
    <inertial><origin xyz="-0.043676869 -2.5219429e-06 0.097125081" rpy="0 0 0" /><mass value="5.4127755" /><inertia ixx="0.03224369" iyy="0.047763663" izz="0.040265877" ixy="-1.580925e-06" ixz="-0.0016885826" iyz="-1.1569242e-07" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.044564264 0.017980905 -0.020305968" rpy="0 0 0" /><mass value="8.1576022" /><inertia ixx="0.057063435" iyy="0.089332722" izz="0.10454746" ixy="0.0020416215" ixz="-0.0054431618" iyz="0.00040054256" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.00012307523 -0.11396987 0.10358667" rpy="0 0 0" /><mass value="1.9161776" /><inertia ixx="0.019151149" iyy="0.020525562" izz="0.0031436476" ixy="-2.809861e-06" ixz="3.382898e-06" iyz="0.00040786006" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="-0.034422125 0.018719164 0.038480167" rpy="0 0 0" /><mass value="5.3579104" /><inertia ixx="0.038667895" iyy="0.032066986" izz="0.041373673" ixy="-0.00011523084" ixz="-0.0018522555" iyz="-0.0017899582" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.29491153 0.0022009756 -0.0021450805" rpy="0 0 0" /><mass value="5.4071639" /><inertia ixx="0.020552706" iyy="0.074799685" izz="0.0816156" ixy="-5.9500759e-05" ixz="-0.00032428474" iyz="-0.00020959648" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib3l/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib3l/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="-0.011014153 0.0037538159 -0.0055487495" rpy="0 0 0" /><mass value="0.69705484" /><inertia ixx="0.00095855902" iyy="0.0015534989" izz="0.0014828766" ixy="2.354776e-06" ixz="-1.4377839e-05" iyz="-9.2366337e-09" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.014217458 -1.6903653e-18 2.0688444e-08" rpy="0 0 0" /><mass value="0.051315581" /><inertia ixx="2.8570137e-05" iyy="1.6600694e-05" izz="1.6600697e-05" ixy="-2.0442195e-23" ixz="-2.6372969e-13" iyz="2.3337452e-22" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.350" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.7925" upper="2.7925" velocity="2.4434" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-0.5759" upper="2.6529" velocity="2.6179" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.250" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.1816" upper="2.8797" velocity="2.7925" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.075" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161" upper="3.3161" velocity="6.9813" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.450 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.0943" upper="2.0943" velocity="5.7595" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.080 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.2831" upper="6.2831" velocity="8.3775" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.350" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>