<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_m20ia10l">
  
  <link name="base_link">
    <inertial><origin xyz="-0.0068733377 0.0004496371 0.13827529" rpy="0 0 0" /><mass value="57.918383" /><inertia ixx="0.86496773" iyy="0.94821707" izz="0.92564582" ixy="-0.0025296655" ixz="0.0052283601" iyz="0.0020599939" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.2784313725490196 0.2784313725490196 0.2784313725490196 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.064639388 0.027982209 -0.062590489" rpy="0 0 0" /><mass value="65.205397" /><inertia ixx="1.1073865" iyy="1.0869121" izz="1.2056702" ixy="-0.01820905" ixz="-0.16282377" iyz="-0.084888171" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.00023893806 -0.15717106 0.35310881" rpy="0 0 0" /><mass value="55.93681" /><inertia ixx="3.7238973" iyy="3.7607456" izz="0.29039472" ixy="0.0012741347" ixz="-0.00052610138" iyz="0.0022805348" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.11761302 0.016811279 0.11224384" rpy="0 0 0" /><mass value="51.98093" /><inertia ixx="0.79800437" iyy="1.0661286" izz="0.68930588" ixy="-0.00012356421" ixz="-0.19256538" iyz="0.056068945" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.61407763 -0.028108148 6.5563823e-06" rpy="0 0 0" /><mass value="22.196209" /><inertia ixx="0.057485854" iyy="1.1685295" izz="1.1836775" ixy="0.089249961" ixz="-4.4197623e-05" iyz="-1.2802501e-06" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.031291568 -0.011799146 2.561826e-06" rpy="0 0 0" /><mass value="1.688644" /><inertia ixx="0.0021053332" iyy="0.003067769" izz="0.0030476036" ixy="-0.00058637185" ixz="-5.1868705e-08" iyz="8.3590495e-08" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.0062514905 -2.1291251e-17 9.0020475e-07" rpy="0 0 0" /><mass value="0.073627096" /><inertia ixx="3.5255326e-05" iyy="1.8586524e-05" izz="1.8584475e-05" ixy="1.4165802e-21" ixz="-2.0659952e-10" iyz="1.0501968e-20" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia10l/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.525" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.228859" upper="3.228859" velocity="3.403392" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.745329" upper="2.792527" velocity="3.054326" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.790" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-3.228859" upper="4.810826" velocity="3.141593" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.250" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.490658" upper="3.490658" velocity="6.981317" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="1.040 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.443461" upper="2.443461" velocity="6.981317" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.100 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-4.712389" upper="4.712389" velocity="10.471980" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.525" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>