<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_m10ia">
  
  <link name="base_link">
    <inertial><origin xyz="-0.0016614943 0.00054018297 0.12465596" rpy="0 0 0" /><mass value="34.479156" /><inertia ixx="0.38371575" iyy="0.40878807" izz="0.376586" ixy="-0.0011473639" ixz="0.0038106677" iyz="0.0013763471" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.049363534 0.033813958 -0.047782282" rpy="0 0 0" /><mass value="36.28032" /><inertia ixx="0.37252573" iyy="0.46688352" izz="0.47436915" ixy="-0.023139721" ixz="-0.056468854" iyz="-0.046860226" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.00082205548 -0.11637789 0.28775832" rpy="0 0 0" /><mass value="24.637005" /><inertia ixx="0.97936544" iyy="0.97167626" izz="0.077330017" ixy="-0.0010498208" ixz="0.0022196682" iyz="0.044032021" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.075345076 0.0056994789 0.093641468" rpy="0 0 0" /><mass value="21.877" /><inertia ixx="0.23056134" iyy="0.23982859" izz="0.14570854" ixy="0.011221759" ixz="-0.045248284" iyz="0.013264958" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.39847392 -0.041925043 2.2262008e-06" rpy="0 0 0" /><mass value="10.997936" /><inertia ixx="0.024735042" iyy="0.20418648" izz="0.21191445" ixy="0.018092604" ixz="-1.9523613e-05" iyz="3.8026997e-06" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.031285978 -0.01178942 4.7327125e-08" rpy="0 0 0" /><mass value="1.6563607" /><inertia ixx="0.0020668974" iyy="0.00301289" izz="0.002993044" ixy="-0.00057580504" ixz="-3.2966254e-09" iyz="7.6599582e-10" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.0062514242 -1.516805e-17 2.384722e-16" rpy="0 0 0" /><mass value="0.072222718" /><inertia ixx="3.4635747e-05" iyy="1.8257858e-05" izz="1.8257858e-05" ixy="6.6348893e-21" ixz="-1.0798619e-19" iyz="1.214761e-20" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m10ia_support/meshes/m10ia/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.450" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-3.14" upper="3.14" velocity="3.67" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.57" upper="2.79" velocity="3.32" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.600" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-3.14" upper="4.61" velocity="3.67" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.200" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.31" upper="3.31" velocity="6.98" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.640 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-3.31" upper="3.31" velocity="6.98" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.100 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.28" upper="6.28" velocity="10.47" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.450" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>