<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_m20ia">
  
  <link name="base_link">
    <inertial><origin xyz="-0.0048697484 0.0011610842 0.13808067" rpy="0 0 0" /><mass value="55.769931" /><inertia ixx="0.83591107" iyy="0.90345536" izz="0.87980484" ixy="0.0042522481" ixz="0.002881703" iyz="0.0023852584" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.2784313725490196 0.2784313725490196 0.2784313725490196 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.064686909 0.027951224 -0.062571608" rpy="0 0 0" /><mass value="63.545659" /><inertia ixx="1.079554" iyy="1.0599729" izz="1.1756751" ixy="-0.017595123" ixz="-0.15881554" iyz="-0.082452424" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.00024482275 -0.15716644 0.35311108" rpy="0 0 0" /><mass value="54.551777" /><inertia ixx="3.6365612" iyy="3.6725339" izz="0.28349559" ixy="0.0012430669" ixz="-0.00056209231" iyz="0.0020185793" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.11764467 0.016815004 0.1122873" rpy="0 0 0" /><mass value="50.649558" /><inertia ixx="0.77775557" iyy="1.0394069" izz="0.67208636" ixy="-0.00018839077" ixz="-0.1878135" iyz="0.054589897" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.5364566 -0.040700322 -9.3296572e-08" rpy="0 0 0" /><mass value="22.83141" /><inertia ixx="0.075980976" iyy="0.71402721" izz="0.71948357" ixy="0.058324285" ixz="1.8216913e-06" iyz="-5.7986266e-07" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.028099517 -0.013332395 -1.2469421e-19" rpy="0 0 0" /><mass value="2.4281075" /><inertia ixx="0.0044100803" iyy="0.0058070098" izz="0.0051375889" ixy="-0.00089570925" ixz="-1.5656475e-20" iyz="1.1701087e-20" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.01945143 3.1218837e-15 2.5204743e-07" rpy="0 0 0" /><mass value="0.22355755" /><inertia ixx="0.00010725986" iyy="8.1812098e-05" izz="8.1810354e-05" ixy="-1.3516191e-17" ixz="-5.4768992e-10" iyz="-2.1364231e-17" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m20ia_support/meshes/m20ia/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.525" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.967060" upper="2.967060" velocity="3.403392" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.745329" upper="2.792527" velocity="3.054326" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.790" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-3.228859" upper="4.766843" velocity="3.141593" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.250" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.490658" upper="3.490658" velocity="6.283185" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.835 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.443461" upper="2.443461" velocity="6.283185" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.100 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-4.712389" upper="4.712389" velocity="9.599311" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.525" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>