<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_lrmate200ib">
  
  <link name="base_link">
    <inertial><origin xyz="-0.043676869 -2.5219429e-06 0.097125081" rpy="0 0 0" /><mass value="5.7909362" /><inertia ixx="0.034496379" iyy="0.051100646" izz="0.043079032" ixy="-1.6913755e-06" ixz="-0.0018065546" iyz="-1.2377521e-07" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.044564264 0.017980905 -0.020305968" rpy="0 0 0" /><mass value="8.7275288" /><inertia ixx="0.061050142" iyy="0.095573906" izz="0.11185161" ixy="0.0021842583" ixz="-0.0058234454" iyz="0.00042852625" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.00012307523 -0.11396987 0.10358667" rpy="0 0 0" /><mass value="2.0500503" /><inertia ixx="0.020489134" iyy="0.021959569" izz="0.0033632769" ixy="-3.0061705e-06" ixz="3.6192424e-06" iyz="0.00043635499" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="-0.034422125 0.018719164 0.038480167" rpy="0 0 0" /><mass value="5.7322381" /><inertia ixx="0.041369407" iyy="0.034307329" izz="0.044264223" ixy="-0.00012328138" ixz="-0.0019816623" iyz="-0.0019150127" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.19818096 0.0031391484 -0.0021182682" rpy="0 0 0" /><mass value="3.8985917" /><inertia ixx="0.015997132" iyy="0.025322295" izz="0.031519234" ixy="0.00074881469" ixz="-0.00036382589" iyz="-0.00017283166" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="-0.011014153 0.0037538159 -0.0055487495" rpy="0 0 0" /><mass value="0.74575421" /><inertia ixx="0.0010255282" iyy="0.0016620333" izz="0.001586477" ixy="2.5192911e-06" ixz="-1.538234e-05" iyz="-9.8819463e-09" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.014217458 -1.6903653e-18 2.0688444e-08" rpy="0 0 0" /><mass value="0.054900717" /><inertia ixx="3.0566175e-05" iyy="1.7760493e-05" izz="1.7760496e-05" ixy="-2.1870378e-23" ixz="-2.8215503e-13" iyz="2.4967911e-22" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200ib_support/meshes/lrmate200ib/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.350" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.7925" upper="2.7925" velocity="3.1415" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-0.5759" upper="2.6529" velocity="3.1415" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.250" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.6145" upper="2.8797" velocity="3.9269" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.075" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161" upper="3.3161" velocity="6.9813" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.290 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.0943" upper="2.0943" velocity="5.7595" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.080 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.2831" upper="6.2831" velocity="8.3775" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.350" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>