<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_m6ib6s">
  
  <link name="base_link">
    <inertial><origin xyz="-0.017360773 0.0013379707 0.11180141" rpy="0 0 0" /><mass value="42.095058" /><inertia ixx="0.45448603" iyy="0.52951505" izz="0.59871616" ixy="0.0046230376" ixz="0.021025959" iyz="0.0016110502" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.34 0.35 0.36 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.05463142 -0.023876728 -0.068690202" rpy="0 0 0" /><mass value="46.986181" /><inertia ixx="0.60616995" iyy="0.71037482" izz="0.62138991" ixy="-0.018337762" ixz="-0.12792822" iyz="0.048726448" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.0021017254 0.11078226 0.16329841" rpy="0 0 0" /><mass value="13.077872" /><inertia ixx="0.22868662" iyy="0.24274821" izz="0.032310642" ixy="-0.0011921581" ixz="0.00081771147" iyz="0.00128625" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib6s/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib6s/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.041167466 -0.019914515 0.070869057" rpy="0 0 0" /><mass value="21.324431" /><inertia ixx="0.1687068" iyy="0.17198391" izz="0.16210203" ixy="0.0050306412" ixz="-0.015890619" iyz="0.0090003711" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.3131646 -0.0034677138 -0.00017991517" rpy="0 0 0" /><mass value="8.7685927" /><inertia ixx="0.022465564" iyy="0.071159671" izz="0.08071215" ixy="0.0027239066" ixz="-4.0875122e-07" iyz="-9.5173379e-08" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib6s/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib6s/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.0050363633 0.0013602493 -0.0048522342" rpy="0 0 0" /><mass value="2.6620427" /><inertia ixx="0.0035638655" iyy="0.0078196499" izz="0.0073541303" ixy="9.9564443e-05" ixz="-1.7346328e-05" iyz="-4.8040412e-07" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.0082183738 -2.6953301e-05 -0.00017940994" rpy="0 0 0" /><mass value="0.085822338" /><inertia ixx="4.8315069e-05" iyy="2.5171083e-05" izz="2.5181392e-05" ixy="-3.0588245e-10" ixz="6.3076588e-15" iyz="5.1369595e-14" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_m6ib_support/meshes/m6ib/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.450" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.9670" upper="2.9670" velocity="3.4906" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.150 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.5707" upper="2.7925" velocity="3.4906" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.360" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.7052" upper="2.7052" velocity="4.5378" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.100" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161" upper="3.3161" velocity="6.9813" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.430 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.4434" upper="2.4434" velocity="6.9813" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.100 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.2831" upper="6.2831" velocity="12.5663" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.450" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="tool0" />
  </joint>
</robot>