<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_lrmate200id">
  
  <link name="base_link">
    <inertial><origin xyz="-0.0058301159 2.2968169e-05 0.079515706" rpy="0 0 0" /><mass value="4.8190118" /><inertia ixx="0.023482772" iyy="0.02491881" izz="0.026277205" ixy="-1.4690278e-05" ixz="0.00039541035" iyz="1.9152922e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.2784313725490196 0.2784313725490196 0.2784313725490196 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial><origin xyz="0.028724849 -1.0228975e-05 -0.054549647" rpy="0 0 0" /><mass value="5.5825554" /><inertia ixx="0.041355729" iyy="0.030059956" izz="0.031937751" ixy="1.3187238e-05" ixz="-0.0054708027" iyz="7.8055332e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_1.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_1.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial><origin xyz="-0.0026549146 -0.00058742879 0.16191012" rpy="0 0 0" /><mass value="9.5951342" /><inertia ixx="0.17174407" iyy="0.14677855" izz="0.047885016" ixy="-3.0115621e-05" ixz="-0.00025565329" iyz="-0.00095014797" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_2.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_2.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial><origin xyz="0.0088664767 -6.4977967e-05 0.017073561" rpy="0 0 0" /><mass value="2.1406679" /><inertia ixx="0.0058109237" iyy="0.0066127914" izz="0.0066501937" ixy="-4.569566e-05" ixz="-0.0006178653" iyz="-4.5772341e-05" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_3.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_3.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial><origin xyz="0.22163402 6.6768822e-05 0.0022032353" rpy="0 0 0" /><mass value="2.3941369" /><inertia ixx="0.0039128935" iyy="0.016797416" izz="0.016805381" ixy="2.6397494e-06" ixz="9.1001581e-05" iyz="-9.1461962e-06" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_4.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_4.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial><origin xyz="0.019049423 0.0024922677 -8.2443699e-06" rpy="0 0 0" /><mass value="0.4620105" /><inertia ixx="0.00036481676" iyy="0.00063961617" izz="0.0005995971" ixy="1.8942235e-05" ixz="-1.962967e-08" iyz="-3.1893293e-08" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_5.stl" />
      </geometry>
      <material name="">
        <color rgba="0.96 0.76 0.13 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_5.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6">
    <inertial><origin xyz="-0.0030058773 -2.5361882e-07 -1.8249486e-15" rpy="0 0 0" /><mass value="0.0064833367" /><inertia ixx="1.2918748e-06" iyy="6.6530306e-07" izz="6.6533592e-07" ixy="-1.532083e-12" ixz="-2.8968491e-21" iyz="-2.7710573e-20" /></inertial><visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/visual/link_6.stl" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fanuc_lrmate200id_support/meshes/lrmate200id/collision/link_6.stl" />
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.9670597283903604" upper="2.9670597283903604" velocity="7.853981633974483" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.050 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.7453292519943295" upper="2.530727415391778" velocity="6.632251157578453" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-1.2217304763960306" upper="3.5779249665883754" velocity="9.075712110370514" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.035" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161255787892263" upper="3.3161255787892263" velocity="9.599310885968812" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.335 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.181661564992912" upper="2.181661564992912" velocity="9.512044423369096" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.080 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="17.453292519943297" />
  </joint>
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="link_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="flange-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>