<?xml version='1.0' encoding='utf-8'?>
<robot name="motoman_gp50">
  
  <link name="base_link">
    <inertial><origin xyz="-0.080023318 -0.0005963158 0.13313032" rpy="0 0 0" /><mass value="115.28613" /><inertia ixx="2.1438192" iyy="3.8053118" izz="4.3297368" ixy="-0.0082610088" ixz="0.0044354603" iyz="-0.0028673007" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1_s">
    <inertial><origin xyz="0.026546713 -0.0097503098 -0.088869311" rpy="0 0 0" /><mass value="173.81951" /><inertia ixx="5.4830174" iyy="5.7363843" izz="6.3668346" ixy="-0.18721715" ixz="-0.64581632" iyz="-0.25490269" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_1_s.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_1_s.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2_l">
    <inertial><origin xyz="0.0014990387 -0.18609528 0.38007734" rpy="0 0 0" /><mass value="112.89939" /><inertia ixx="9.7383764" iyy="9.9353511" izz="1.1044661" ixy="-0.0096478592" ixz="-0.076142894" iyz="0.33268999" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_2_l.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_2_l.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3_u">
    <inertial><origin xyz="0.094769046 -0.043615748 0.14097849" rpy="0 0 0" /><mass value="127.96112" /><inertia ixx="4.0645932" iyy="3.5495117" izz="3.5572655" ixy="0.50553994" ixz="-0.5144265" iyz="-0.33701637" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_3_u.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_3_u.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4_r">
    <inertial><origin xyz="0.70345776 -0.024247796 -7.8725974e-05" rpy="0 0 0" /><mass value="28.396168" /><inertia ixx="0.095785805" iyy="1.3847192" izz="1.3925536" ixy="0.089454199" ixz="-0.0036681004" iyz="-0.00070853884" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_4_r.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_4_r.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5_b">
    <inertial><origin xyz="0.035175405 -0.020743236 0.0002812537" rpy="0 0 0" /><mass value="11.355693" /><inertia ixx="0.055660478" iyy="0.060037844" izz="0.078636125" ixy="-0.0088611986" ixz="-0.00012482055" iyz="-7.872226e-05" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_5_b.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_5_b.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6_t">
    <inertial><origin xyz="0.16641629 0.000586986 3.5669573e-06" rpy="0 0 0" /><mass value="0.28199424" /><inertia ixx="0.00041166656" iyy="0.00021614765" izz="0.00020793495" ixy="4.1959331e-07" ixz="-3.3002181e-09" iyz="-4.1391437e-08" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/visual/link_6_t.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp50_support/meshes/gp50/collision/link_6_t.stl" />
      </geometry>
    </collision>
  </link>
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  
  
  <joint name="joint_1_s" type="revolute">
    <parent link="base_link" />
    <child link="link_1_s" />
    <origin rpy="0 0 0" xyz="0 0 0.540" />
    <axis xyz="0 0 1" />
    <limit effort="5516" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.141592653589793" />
  </joint>
  <joint name="joint_2_l" type="revolute">
    <parent link="link_1_s" />
    <child link="link_2_l" />
    <origin rpy="0 0 0" xyz="0.145 0 0" />
    <axis xyz="0 1 0" />
    <limit effort="7060" lower="-1.5707963267948966" upper="2.356194490192345" velocity="3.1066860685499065" />
  </joint>
  <joint name="joint_3_u" type="revolute">
    <parent link="link_2_l" />
    <child link="link_3_u" />
    <origin rpy="0 0 0" xyz="0 0 0.870" />
    <axis xyz="0 -1 0" />
    <limit effort="3089" lower="-1.3962634015954636" upper="3.595378259108319" velocity="3.1066860685499065" />
  </joint>
  <joint name="joint_4_r" type="revolute">
    <parent link="link_3_u" />
    <child link="link_4_r" />
    <origin rpy="0 0 0" xyz="0 0 0.210" />
    <axis xyz="-1 0 0" />
    <limit effort="926" lower="-6.283185307179586" upper="6.283185307179586" velocity="4.363323129985824" />
  </joint>
  <joint name="joint_5_b" type="revolute">
    <parent link="link_4_r" />
    <child link="link_5_b" />
    <origin rpy="0 0 0" xyz="1.025 0 0" />
    <axis xyz="0 -1 0" />
    <limit effort="794" lower="-2.181661564992912" upper="2.181661564992912" velocity="4.363323129985824" />
  </joint>
  <joint name="joint_6_t" type="revolute">
    <parent link="link_5_b" />
    <child link="link_6_t" />
    <origin rpy="0 0 0" xyz="0 0 0" />
    <axis xyz="-1 0 0" />
    <limit effort="375" lower="-6.283185307179586" upper="6.283185307179586" velocity="6.283185307179586" />
  </joint>
  <joint name="joint_6_t-tool0" type="fixed">
    <origin rpy="3.1415926 -1.570796 0" xyz="0.175 0 0" />
    <parent link="link_6_t" />
    <child link="tool0" />
  </joint>
  
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.540" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
</robot>