<?xml version='1.0' encoding='utf-8'?>
<robot name="motoman_gp180">
  
  <link name="base_link">
    <inertial><origin xyz="-0.10306043 0.00060081137 0.14482279" rpy="0 0 0" /><mass value="180.16436" /><inertia ixx="4.7874999" iyy="8.9243766" izz="11.017749" ixy="0.027634865" ixz="0.11370293" iyz="0.0009851049" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/visual/base_link.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1_s">
    <inertial><origin xyz="0.1105365 0.025940126 -0.13356208" rpy="0 0 0" /><mass value="278.0733" /><inertia ixx="10.566234" iyy="15.915732" izz="17.0237" ixy="-0.90194414" ixz="-1.6672964" iyz="-0.93011518" /></inertial><visual>
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/visual/link_1_s.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/collision/link_1_s.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2_l">
    <inertial><origin xyz="-0.0033883348 -0.056453068 0.54100636" rpy="0 0 0" /><mass value="218.5481" /><inertia ixx="34.663182" iyy="34.749136" izz="3.4126649" ixy="0.015352265" ixz="-0.08945727" iyz="0.46261564" /></inertial><visual>
      <origin rpy="1.5707963267948966 0.0 1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/visual/link_2_l.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/collision/link_2_l.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3_u">
    <inertial><origin xyz="0.25982473 0.018419334 0.17632883" rpy="0 0 0" /><mass value="312.7445" /><inertia ixx="10.894933" iyy="31.061397" izz="29.915038" ixy="0.39934931" ixz="-4.4040087" iyz="1.2719999" /></inertial><visual>
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180/visual/link_3_u.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180/collision/link_3_u.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4_r">
    <inertial><origin xyz="1.1555429 -0.0084770706 0.000676365" rpy="0 0 0" /><mass value="9.4924187" /><inertia ixx="0.034463219" iyy="0.068859461" izz="0.068421353" ixy="0.0064221408" ixz="0.00028645821" iyz="-0.00014291373" /></inertial><visual>
      <origin rpy="0.0 1.5707963267948966 0.0" xyz="0 0 1.225" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180/visual/link_4_r.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0.0 1.5707963267948966 0.0" xyz="0 0 1.225" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180/collision/link_4_r.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5_b">
    <inertial><origin xyz="0.038034926 -0.019253952 -4.8912563e-06" rpy="0 0 0" /><mass value="20.105165" /><inertia ixx="0.14437743" iyy="0.17171183" izz="0.2114286" ixy="-0.013318806" ixz="3.6007162e-06" iyz="-6.533274e-06" /></inertial><visual>
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/visual/link_5_b.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="-1.5707963267948966 0.0 -1.5707963267948966" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/collision/link_5_b.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_6_t">
    <inertial><origin xyz="-0.01271324 -0.00049222394 2.0231255e-07" rpy="0 0 0" /><mass value="0.87215933" /><inertia ixx="0.002769524" iyy="0.0014487164" izz="0.0014151291" ixy="-2.6608881e-06" ixz="-1.3220691e-11" iyz="2.9443448e-10" /></inertial><visual>
      <origin rpy="0.0 1.5707963267948966 0.0" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/visual/link_6_t.stl" />
      </geometry>
      <material name="">
        <color rgba="0.12941176470588237 0.14901960784313725 0.7490196078431373 1.0" />
      </material>
    </visual>
    <collision>
      <origin rpy="0.0 1.5707963267948966 0.0" />
      <geometry>
        <mesh filename="package://motoman_gp180_support/meshes/gp180_120/collision/link_6_t.stl" />
      </geometry>
    </collision>
  </link>
  
  
  <joint name="joint_1_s" type="revolute">
    <parent link="base_link" />
    <child link="link_1_s" />
    <origin rpy="0 0 0" xyz="0 0 0.650" />
    <axis xyz="0 0 1" />
    <limit effort="8237.59" lower="-3.141592653589793" upper="3.141592653589793" velocity="2.181661564992912" />
  </joint>
  <joint name="joint_2_l" type="revolute">
    <parent link="link_1_s" />
    <child link="link_2_l" />
    <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="0.325 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="10419.57" lower="-1.0471975511965976" upper="1.3264502315156905" velocity="2.007128639793479" />
  </joint>
  <joint name="joint_3_u" type="revolute">
    <parent link="link_2_l" />
    <child link="link_3_u" />
    <origin rpy="3.141592653589793 0 0" xyz="1.150 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="7453.05" lower="-1.5009831567151235" upper="1.5707963267948966" velocity="2.181661564992912" />
  </joint>
  <joint name="joint_4_r" type="revolute">
    <parent link="link_3_u" />
    <child link="link_4_r" />
    <origin rpy="-1.5707963267948966 0 0" xyz="0.300 -1.225 0" />
    <axis xyz="0 0 1" />
    <limit effort="1671.05" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.1764992386296798" />
  </joint>
  <joint name="joint_5_b" type="revolute">
    <parent link="link_4_r" />
    <child link="link_5_b" />
    <origin rpy="1.5707963267948966 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1081.18" lower="-2.2689280275926285" upper="2.2689280275926285" velocity="3.0543261909900767" />
  </joint>
  <joint name="joint_6_t" type="revolute">
    <parent link="link_5_b" />
    <child link="link_6_t" />
    <origin rpy="-1.5707963267948966 0 0" xyz="0 -0.225 0" />
    <axis xyz="0 0 1" />
    <limit effort="926.73" lower="-6.283185307179586" upper="6.283185307179586" velocity="4.625122517784973" />
  </joint>
  
  
  <link name="base"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.650" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="joint_6_t-flange" type="fixed">
    <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    <parent link="link_6_t" />
    <child link="flange" />
  </joint>
  
  <link name="tool0"><inertial><origin xyz="0 0 0" rpy="0 0 0" /><mass value="0.01" /><inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0" ixz="0" iyz="0" /></inertial></link>
  <joint name="flange-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>