<?xml version='1.0' encoding='utf-8'?>
<robot name="ur18">
  
  
  <link name="world" />
  
  
  <link name="base_link" />
  <link name="base_link_inertia">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/visual/base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.032233320440000005" ixy="0.0" ixz="0.0" iyy="0.032233320440000005" iyz="0.0" izz="0.05780000000000001" />
    </inertial>
  </link>
  <link name="shoulder_link">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/visual/shoulder.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/collision/shoulder.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="9.9883" />
      <origin rpy="1.570796326794897 0 0" xyz="2.4e-05 -0.025304 -0.033309" />
      <inertia ixx="0.051334" ixy="2.5e-05" ixz="-1.6e-05" iyy="0.047702" iyz="0.008805" izz="0.034263" />
    </inertial>
  </link>
  <link name="upper_arm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.109" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur18/visual/upperarm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.109" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur18/collision/upperarm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="14.2009" />
      <origin rpy="0 0 0" xyz="-0.166336 -8.8e-05 0.190204" />
      <inertia ixx="0.045094" ixy="0.000179" ixz="-0.024705" iyy="0.630805" iyz="-2e-05" izz="0.625724" />
    </inertial>
  </link>
  <link name="forearm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.13425" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur18/visual/forearm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.13425" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur18/collision/forearm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="5.52" />
      <origin rpy="0 0 0" xyz="-0.139248 2.1e-05 0.073101" />
      <inertia ixx="0.016891" ixy="0.0" ixz="0.009081" iyy="0.129732" iyz="3e-06" izz="0.123451" />
    </inertial>
  </link>
  <link name="wrist_1_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.0502" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/visual/wrist1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.0502" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/collision/wrist1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.089" />
      <origin rpy="1.570796326794897 0 0" xyz="2.5e-05 -0.016413 -0.019695" />
      <inertia ixx="0.004339" ixy="1.9e-05" ixz="1e-06" iyy="0.002548" iyz="0.000706" izz="0.003912" />
    </inertial>
  </link>
  <link name="wrist_2_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.064" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/visual/wrist2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.064" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/collision/wrist2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0869" />
      <origin rpy="-1.570796326794897 0 0" xyz="2.5e-05 0.015886 -0.01996" />
      <inertia ixx="0.004288" ixy="1.7e-05" ixz="-3e-06" iyy="0.002566" iyz="-0.000716" izz="0.003927" />
    </inertial>
  </link>
  <link name="wrist_3_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.0715" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/visual/wrist3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.0715" />
      <geometry>
        <mesh filename="package://ur_description/meshes/ur15/collision/wrist3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0666" />
      <origin rpy="0 0 0" xyz="-1.8e-05 -0.000112 -0.053397" />
      <inertia ixx="0.001406" ixy="-3e-06" ixz="1e-05" iyy="0.001404" iyz="-2.4e-05" izz="0.001002" />
    </inertial>
  </link>
  
  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  
  <joint name="base_link-base_link_inertia" type="fixed">
    <parent link="base_link" />
    <child link="base_link_inertia" />
    
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
  </joint>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link_inertia" />
    <child link="shoulder_link" />
    <origin rpy="0 0 0" xyz="0 0 0.2186" />
    <axis xyz="0 0 1" />
    <limit effort="433.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link" />
    <child link="upper_arm_link" />
    <origin rpy="1.570796327 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="433.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="forearm_link" />
    <origin rpy="0 0 0" xyz="-0.475 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="204.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="4.1887902047863905" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link" />
    <child link="wrist_1_link" />
    <origin rpy="0 0 0" xyz="-0.3389 0 0.1824" />
    <axis xyz="0 0 1" />
    <limit effort="70.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="5.235987755982989" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link" />
    <child link="wrist_2_link" />
    <origin rpy="1.570796327 0 0" xyz="0 -0.1361 -2.791457662093657e-11" />
    <axis xyz="0 0 1" />
    <limit effort="70.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="5.235987755982989" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link" />
    <child link="wrist_3_link" />
    <origin rpy="1.570796326589793 3.141592653589793 3.141592653589793" xyz="0 0.1434 -2.941183164909849e-11" />
    <axis xyz="0 0 1" />
    <limit effort="70.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="5.235987755982989" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="ft_frame" />
  <joint name="wrist_3_link-ft_frame" type="fixed">
    <parent link="wrist_3_link" />
    <child link="ft_frame" />
    <origin rpy="3.141592653589793 0 0" xyz="0 0 0" />
  </joint>
  
  <link name="base" />
  <joint name="base_link-base_fixed_joint" type="fixed">
    
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange" />
  <joint name="wrist_3-flange" type="fixed">
    <parent link="wrist_3_link" />
    <child link="flange" />
    <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="0 0 0" />
  </joint>
  
  <link name="tool0" />
  <joint name="flange-tool0" type="fixed">
    
    <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>